<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

<servlet>
        <servlet-name>ryoriS</servlet-name>
        <servlet-class>test.RyoriServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ryoriS</servlet-name>
        <url-pattern>/ryori</url-pattern>
    </servlet-mapping>


	<servlet>
		<servlet-name>shokuzaiS</servlet-name>
		<servlet-class>shokuzai_detail.ShokuzaiDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>shokuzaiS</servlet-name>
		<url-pattern>/shokuzai</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>shokuzaiE</servlet-name>
		<servlet-class>shokuzai_detail.ShokuzaiEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>shokuzaiE</servlet-name>
		<url-pattern>/shokuzaie</url-pattern>
	</servlet-mapping>



    <servlet>
        <servlet-name>tourokuS</servlet-name>
        <servlet-class>test.save_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tourokuS</servlet-name>
        <url-pattern>/touroku</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>loginS</servlet-name>
        <servlet-class>food_management.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginS</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>



	</web-app>
