
work/*
WEB-INF/classes/*
WEB-INF/src/test/test.java
WEB-INF/src/ryoriZairyo/ryoriZairyoBean.java
WEB-INF/src/ryoriZairyo/ryoriZairyoBean.java
design/RyoriDeleteSuccess.jsp
design/RyoriDeleteSuccess.jsp
design/RyoriDeleteUnsuccess.jsp
WEB-INF/src/food_management/ResultSetBeanMapping.java
