<style type="text/css">

p.nomal{
  overflow-wrap: normal;
}

p.break{
  overflow-wrap: break-word;
}



.flame01 {
width: fit-content;
margin: 0em auto;
padding: 1em;
width: 200px;
color: #000;
background-color: #f5f5f5;
border: 1px solid #ccc;
position: relative;
right: 345px;
height:20px;
}




.flame02 {
margin: 1em auto;
padding: 1em;
width: 890px;
height: 200px;
color: #000;
background-color: #f5f5f5;
border: 1px solid #ccc;
}


.flame03{
margin: 1em auto;
padding: 1em;
width: 325px;
height:130px;
color: #606060;
background-color: #f8b862;
border: 2px solid #deb887;
border-radius: 10px;
position: relative;
top: -10px;
right: 275px;
}


.flame04 {
border: 1px solid #000;

margin: 1em auto;
padding: 0.4em;
width: 160px;
background-color: #fff;
position: relative;
top: -250px;
left: 40px;

}


.flame05 {
margin: 1em auto;
padding: 0.7em;
width: 140px;
color: #000;
background-color: #d7003a;
border: 1px solid #ccc;
position: relative;
top: -440px;
left: 370px;
height: 20px;
}


.flame06 {
border: 1px solid #89c3eb;
margin: 1em auto;
padding: 0.4em;
width: 200px;
background-color: #fff;
position: relative;
top: -330px;
left: 350px;
height: 30px;
width: fit-content;
}


.flame07 {
margin: 1em auto;
padding: 0.7em;
width: 140px;
color: #000;
background-color: #d7003a;
border: 1px solid #ccc;
position: relative;
top: -420px;
left: 370px;
height: 20px;
}


.flame08 {
border: 1px solid #89c3eb;
margin: 1em auto;
padding: 0.4em;
width: 200px;
background-color: #fff;
position: relative;
top: -305px;
left: 350px;
height: 30px;
width: fit-content;
}


.flame09 {
margin: 1em auto;
padding: 0.7em;
width: 140px;
color: #000;
background-color: #d7003a;
border: 1px solid #ccc;
position: relative;
top: -470px;
left: 370px;
height: 20px;
}


.flame10 {
border: 1px solid #89c3eb;
margin: 1em auto;
padding: 0.4em;
width: 200px;
background-color: #fff;
position: relative;
top: -360px;
left: 350px;
height: 30px;
width: fit-content;
}


.flame11 {
margin: 1em auto;
padding: 0.7em;
width: 140px;
color: #000;
background-color: #d7003a;
border: 1px solid #ccc;
position: relative;
top: -470px;
left: 370px;
height: 20px;
}


.flame12 {
border: 1px solid #89c3eb;
margin: 1em auto;
padding: 0.4em;
width: 200px;
background-color: #fff;
position: relative;
top: -360px;
left: 350px;
height: 30px;
width: fit-content;
}


.flame13 {
margin: 1em auto;
padding: 0.7em;
width: 140px;
color: #000;
background-color: #d7003a;
border: 1px solid #ccc;
position: relative;
top: -420px;
left: 370px;
height: 20px;
}


.flame14 {
border: 1px solid #89c3eb;
margin: 1em auto;
padding: 0.4em;
width: 200px;
background-color: #fff;
position: relative;
top: -310px;
left: 350px;
height: 30px;
width: fit-content;
}


.flame15 {
border: 1px solid #000;

margin: 1em auto;
padding: 0.4em;
width: 320px;
background-color: #fff;
position: relative;
top: -252px;
left: 80px;

}


.flame16 {
margin: 1em auto;
padding: 0.7em;
width: 140px;
color: #000;
background-color: #d7003a;
border: 1px solid #ccc;
position: relative;
top: -470px;
left: 370px;
height: 20px;
}


.flame17 {
border: 1px solid #89c3eb;
margin: 1em auto;
padding: 0.4em;
width: 200px;
background-color: #fff;
position: relative;
top: -360px;
left: 355px;
height: 30px;
width: fit-content;
}


.flame18 {
margin: 1em auto;
padding: 0.7em;
width: 140px;
color: #000;
background-color: #d7003a;
border: 1px solid #ccc;
position: relative;
top: -440px;
left: 370px;
height: 20px;
}


.flame19 {
border: 1px solid #89c3eb;
margin: 1em auto;
padding: 0.4em;
width: 200px;
background-color: #fff;
position: relative;
top: -330px;
left: 350px;
height: 30px;
width: fit-content;
}

.flame20 {
margin: 1em auto;
padding: 0.7em;
width: 140px;
color: #000;
background-color: #d7003a;
border: 1px solid #ccc;
position: relative;
top: -440px;
left: 375px;
height: 20px;
}


.flame21 {
border: 1px solid #89c3eb;
margin: 1em auto;
padding: 0.4em;
width: 200px;
background-color: #fff;
position: relative;
top: -330px;
left: 355px;
height: 30px;
width: fit-content;
}

.flame22 {
margin: 1em auto;
padding: 0.7em;
width: 140px;
color: #000;
background-color: #d7003a;
border: 1px solid #ccc;
position: relative;
top: -320px;
left: 370px;
height: 20px;
}


.flame23 {
border: 1px solid #89c3eb;
margin: 1em auto;
padding: 0.4em;
width: 200px;
background-color: #fff;
position: relative;
top: -220px;
left: 350px;
height: 30px;
width: fit-content;
}

.flame24 {
margin: 1em auto;
padding: 0.7em;
width: 140px;
color: #000;
background-color: #d7003a;
border: 1px solid #ccc;
position: relative;
top: -490px;
left: 370px;
height: 20px;
}


.flame25 {
border: 1px solid #89c3eb;
margin: 1em auto;
padding: 0.4em;
width: 200px;
background-color: #fff;
position: relative;
top: -380px;
left: 355px;
height: 30px;
width: fit-content;
}


.flame26 {
margin: 1em auto;
padding: 0.7em;
width: 140px;
color: #000;
background-color: #d7003a;
border: 1px solid #ccc;
position: relative;
top: -370px;
left: 370px;
height: 20px;
}


.flame27 {
border: 1px solid #89c3eb;
margin: 1em auto;
padding: 0.4em;
width: 200px;
background-color: #fff;
position: relative;
top: -260px;
left: 355px;
height: 30px;
width: fit-content;
}
</style>